body {
  font-family: Arial, sans-serif;
  /* background-color: #f9f9f9; */
  background: linear-gradient(135deg, #2b2d42, #8d99ae);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  /* background: white; */
  background-color: #1D1F2B; 
  color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #30475e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 5px;
}

button:hover {
  background-color: #2b3f51;
}

button:active {
  transform: scale(0.95);  /* Slight scale effect for feedback */
}

p {
  font-size: 18px;
  margin: 15px 0;
}

.btn-primary {
  background-color: #FF5B77; 
  /* color: #2f3640; */
  color: white;
}

.btn-primary:hover {
  background-color: #893745;  
}

.btn-secondary {
  background-color: #30475e; 
  color: #fff;
}

.btn-secondary:hover {
  background-color: #2b3f51; 
}

/* Mobile Responsiveness */
@media (max-width: 767px) {
  body {
    padding: 10px; /* Ensure there's some space around the container */
  }

  .container {
    /* padding: 30px 15px; Reduce padding for mobile */
    max-width: 90%; /* Ensure the container fits within the screen width */
  }

  h1 {
    font-size: 1.2rem; /* Smaller font size for mobile */
  }

  button {
    font-size: 0.9rem; /* Reduce button font size */
    padding: 8px 12px; /* Adjust button padding */
    width: 100%; /* Buttons stretch to full width */
    max-width: none; /* Remove max-width for buttons */
  }

  .footer {
    margin-top: 15px; /* Adjust footer spacing */
  }
}
